<div class="container">
  <div class="row">
    <div class="col-xs-6 left">
      <p>Sorry the page you are looking for cannot be found</p>
    </div>
     <div class="col-xs-6 right">
       <%= image_tag("featsofdaring404.jpg") %>
     </div>
   </div>
 </div>
