<!-- http://www.tutorialspoint.com/bootstrap/bootstrap_navbar.htm -->

<nav class="navbar navbar-default" role="navigation">
  <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">TutorialsPoint</a>
   </div> -->
   <div>
      <ul class="nav navbar-nav">
	 <li class="active"><a href="#">Chapters</a></li>
	 <li class="active"><a href="#">Contact</a></li>
         <li><a href="#">About The Standard Librarians</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">Mobbing</a></li>
               <li><a href="#">Agile</a></li>
               <li><a href="#">Tetsing</a></li>
               <li><a href="#">RGSoC</a></li>
               <li><a href="#">User Stories</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
