<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <p>
        If you’re new to programming, Ruby is a great introduction. If you’re looking to brush up on your library knowledge, you’re also in the right place. Ruby is flexible, powerful, and easy to read.
      </p>
      <p>  
        The Ruby Standard Library is a set of tools included in the Ruby programming language that are incredibly useful. Many developers and gems use them often. You may have already used the libraries without knowing.
      </p>
      <p>  
  Over the next few adventures, you’ll get to know some of the popular Ruby libraries.  Knowing these can help you program a robot, rig your house to dim the lights, or build a site to sell your homemade (probably poisonous) kombucha. 
      </p>
      <%= link_to "Start Adventure 1", story_adventure_path(1), class: "btn btn-success btn-adventure" %>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("adventure-one-intro.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

