<div class="container">
<div class="row">
<div class="col-xs-6 left">
<p>
  If you’re new to programming, Ruby is a great introduction. If you’re looking to brush up on your library knowledge, you’re also in the right place. Ruby is flexible, powerful, and easy to read; except for sometimes like in the Standard Library documentation.
</p>
<p>
  The Ruby Standard Library is a set of tools included in the Ruby programming language that are incredibly useful. Many developers and gems use them often. You may have already used the libraries without knowing.
</p>
<p>
  Over the next few adventures, you’ll get to know some of the popular Ruby libraries.  Knowing these can help you program a robot, rig your house to dim the lights, or build a site to sell your homemade (probably poisonous) kombucha.
</p>
<%= link_to "Start Adventure 1", adventure_path(1), class: "btn btn-success btn-adventure" %>
</div>
<div class="col-xs-6 right">
<%= image_tag("featsofdaring_intro.jpg") %>
</div>
</div>
</div>

<%= render partial: "shared/adventure_title" %>

<p>Oh no! Cuddy runs ahead of Mr. Chips and fell down a well. There are snakes in the well. Cuddy finds a tin can with a string leading to the top of the well. He needs your help to place the call (he thinks the phone works). Let’s try to call Cuddy’s agent, PrettyP.</p>
