<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <%= render partial: "shared/adventure_title" %>
      <p>The curious cat <br />
       Falling down down down the well <br />
       Cuddy needs your help!
      </p>
      <p>Oh No! Cuddy ran ahead of Mr. Chips and fell down a well. It is very dark inside the well. </p>

      <p>Cuddy finds a tin can with a string leading to the top of the well. He needs your help to place the call <small> (he thinks the phone works).</small></p>
      <p>Let’s try to call Cuddy’s agent, PrettyP.</p>

      <%= link_to "Continue", learn_adventure_objective_path(1,1), class: "btn btn-success btn-adventure" %>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("well.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

