<ul>
  <li><%= link_to "DBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/dbm/rdoc/index.html" %></li>
    <p class= "libraries">Provides a wrapper for the UNIX-style Database Manager Library
</p>

  <li><%= link_to "Ostruct", "http://ruby-doc.org/stdlib-2.1.2/libdoc/ostruct/rdoc/DateTime.html" %></li>
    <p class= "libraries">Class to build custom data structures, similar to a Hash
</p>

  <li><%= link_to "GDBM", "http://ruby-doc.org/stdlib-2.1.2/libdoc/gdbm/rdoc/index.html" %></li>
    <p class= "libraries">Ruby extension for the GNU dbm (gdbm) library</p>

  <li> <%= link_to "pstore", "http://ruby-doc.org/stdlib-2.1.2/libdoc/pstore/rdoc/index.html" %></li>
    <p class= "libraries">Implements a file based persistence mechanism based on a Hash</p>
</ul>
