<ul>
  <li> <%= link_to "JSON", "http://ruby-doc.org/stdlib-2.1.2/libdoc/json/rdoc/index.html" %></li>
    <p class= "libraries">Implements Javascript Object Notation for Ruby</p>

  <li> <%= link_to "REXML", "http://ruby-doc.org/stdlib-2.1.2/libdoc/rexml/rdoc/index.html" %></li>
    <p class= "libraries">An XML toolkit for Ruby</p>

  <li> <%= link_to "Psych", "http://ruby-doc.org/stdlib-2.1.2/libdoc/psych/rdoc/index.html" %></li>
    <p class= "libraries">A YAML parser and emitter for Ruby</p>

  <li> <%= link_to "YAML", "http://ruby-doc.org/stdlib-2.1.2/libdoc/yaml/rdoc/index.html" %></li>
    <p class= "libraries">Ruby client library for the Psych YAML implementation</p>
</ul>
