<ul>
  <li> <%= link_to "ZLib", "http://ruby-doc.org/stdlib-2.1.2/libdoc/zlib/rdoc/index.html" %></li>
    <p class= "libraries">Ruby interface for the zlib compression/decompression library lossless data-compression library for use on virtually any computer hardware and operating system</p>


  <li> <%= link_to "OpenSSL", "http://ruby-doc.org/stdlib-2.1.2/libdoc/open-ssl/rdoc/index.html" %></li>
    <p class= "libraries">Provides SSL, TSL and general purpose cryptography for Ruby</p>

  <li> <%= link_to "NKF", "http://ruby-doc.org/stdlib-2.1.2/libdoc/nkf/rdoc/index.html" %></li>
    <p class= "libraries">Ruby extension for Network Kanji Filter. nkf, which stands for Network Kanji Filter, is a Unix computer program that converts Japanese encoding</p>

  <li> <%= link_to "Digest", "http://ruby-doc.org/stdlib-2.1.2/libdoc/digest/rdoc/index.html" %></li>
    <p class= "libraries">Provides a framework for message digest libraries</p>
</ul>
