<ul>
  <li> <%= link_to "Observable", "http://ruby-doc.org/stdlib-2.1.2/libdoc/observable/rdoc/index.html" %></li>
    <p class= "libraries">Provides a mechanism for publish/subscribe pattern in Ruby</p>

  <li> <%= link_to "Singleton", "http://ruby-doc.org/stdlib-2.1.2/libdoc/singleton/rdoc/index.html" %></li>
    <p class= "libraries">Implementation of the Singleton pattern for Ruby</p>
</ul>
