<ul> 
  <li><%= link_to "Date", "http://ruby-doc.org/stdlib-2.1.2/libdoc/date/rdoc/index.html" %></li>
    <p class= "libraries">A subclass of Object includes Comparable module for handling dates</p>

  <li><%= link_to "DateTime", "http://ruby-doc.org/stdlib-2.1.2/libdoc/date/rdoc/DateTime.html" %></li>
    <p class= "libraries">Subclass of Date to handling dates, hours, minutes, seconds, offsets</p>

  <li><%= link_to "Time", "http://ruby-doc.org/stdlib-2.1.2/libdoc/time/rdoc/index.html" %></li>
    <p class= "libraries">Extends the Time class with methods for parsing and conversion</p>

  <li> <%= link_to "Timeout", "http://ruby-doc.org/stdlib-2.1.2/libdoc/timeout/rdoc/index.html" %></li>
    <p class= "libraries">Auto-terminate potentially long-running operations in Ruby</p>
</ul>
