<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Database</h2>
      <%= render partial: "library/database" %>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("6-cmath.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

~                                                                                                                  
~                    
