<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>READ & WRITE - <small>STRING/IO</small></h2>
      <%= render partial: "library/read" %>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("read.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>
