<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Time - Date</h2>
      <%= render partial: "library/time" %>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("catclock.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>


