/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);

// .left {
 // background-color:pink;
// }
// .right {
 // background-color:green;
// }
h1 {
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
}
small {
  color: #000;
}
.outline {
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 2px solid #000000;
  height: 585px;
  overflow-y: auto;
}
  
p {
  font-size: 20px;
  line-height: 1.2;
  margin: 20px 0px 10px;
}

.btn-adventure {
  font-size: 24px;
}
.replbox {
  height: 385px;
  //background-color:green;
}

.instructions {
 width:50%;

 p {
  font-size: 14px;
  }
}
.smallpics {
  width: 50%;
  img {
  width:100% 
  }
}

.code-example {
word-wrap: break-word;
font-size: 100%;
}

.inputform {
 width: 100%;
 height: 335px;
 font-size: 24px;
  background-color: #ccc;
}

.large-illustration {
  width: 100%;
}

.top-padding {
  padding-top: 20px;
}

