<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <%#= render partial: "shared/adventure_title" %>
      <h2>About The Standard Librarians</h2>

      <p>The Standard Librarians are a group of people who are new to Ruby and Rails who are learning Ruby and Rails as they create a learning tool for the Ruby & Rails community. Recursive you might say. :)</p>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("well.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

~              
