<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>About The Standard Librarians</h2>

      <p>The Standard Librarians started out as a Rails Girls Summer of Code
project in 2014 with the goal of creating a learning tool for the Ruby & Rails
community. The team was learning Ruby and Rails while creating a learning
tool; totally meta and recursive. :)</p>

      <p>The Standard Librarians reformed a new team January 2015 and started
to refactor and improve apon the project.</p>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("hotdogcat.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>
