<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Agile</h2>

      <p>The Standard Librarians worked on this project with several Pivotal
Lab developers as their coaches. The Pivots taught the Std. Lib. team their style of Agile and
XP programming. The Pivots also coached the STd. Lib. team through an
intensive 2 day inception, which is a process of breaking down a project into
the mvp (minimal viable product), discovering users, and charting out very
specific, small stories or actions. The Std. Lib. team used Pivotal Tracker to
list all their stories and proceed through them in an organized way.</p>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("10-pivotal.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

