<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Agile</h2>

      <p>We worked on this project with Pivotal Lab developers as our coaches. They showed us their style of Agile and XP programming. We had an intensive 2 day inception, which is a process of breaking down your project into the mvp (minimal viable product), discovering your users, and charting out very specific and small stories or actions using the Pivotal Tracker.</p>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("10-pivotal.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

