<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>CHAPTERS</h2>

      <%= link_to "Continue", adventure_objective_path(1,1), class: "btn btn-success btn-adventure" %>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("2-cats.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

