<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Future Goals</h2>

      <p>We will maintain the project. We will continue to refine it, grow the users and the libraries that are included.</p>

      <p>We hope to have a team working on this project next year for Rails Girls Summer of Code as a paid team. We will be coaches. </p>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("6-cmath.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

~              

