<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Mob Programming</h2>
      <p>Pat Maddox acted as the mentor for the Standard Librarians. 
        He introduced the team to mob programming. He said it would 
        help keep everyone on the same page and get everyone to learn 
        a lot together as they moved along through the project which it
        actually did.</p>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("8-woody-mike-pat.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>
