<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <h2>Rails Girls Summer of Code</h2>
      <p>RGSoC for short. The Standard Librarians were an official volunteer
team in Rails Girls Summer of Code 2014. </p>
      <p>They spoke about their project at the <a
href="http://rockymtnruby.com/program">Rocky Mountain Ruby conference </a>
          in Boulder, CO. in September 2014</p>
    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("3-berlin.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

