<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-6 left outline">
      <h2>Testing</h2>
      <%= content_tag(:p, "The Standard Librarians use TDD, Test Driven Development, which is a method of coding where you write your tests first; then you write your code.") %> 
    </div>

    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("4-rspec.jpg", class: "large-illustration") %>
    </div>

  </div>
</div>

~                  
