<%= render partial: "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 left outline">
      <%#= render partial: "shared/adventure_title" %>
      <h2>User Stories</h2>
      <p>Emerald</p>
      <ul>
        <li>I just finished an introduction (e.g.- Rails Girls)</li>
        <li>I am looking for support for my learning</li>
        <li>I want to discover what Ruby's potential is</li>
        <li>I don't know any jargon</li>
        <li>I need to be encouraged immediately (quick wins)</li>
      </ul>

      <p>Malcolm</p>
      <ul>
        <li>I am now convinced I am learning Ruby</li>
        <li>I have a developing mental model of basic Ruby Programming</li>
        <li>I have written a few guided programs</li>
        <li>StackOverflow based programming/troubleshooting</li>
        <li>I am not sure what most exceptions mean</li>
      </ul>

      <p>Kris</p>
      <ul>
        <li>I know some Ruby (1st programming language)</li>
        <li>I am learning how to program</li>
        <li>I know basic types / data structures</li>
        <li>I am facile with online learning</li>
        <li>I spend at least one hour a week on learning</li>
        <li>In a user group; learning together</li>
        <li>I have the potential helping someone else learn</li>
        <li>Goal directed learning</li>
        <li>I find the RDocs confusing ++ I don't have enough context to know what is important</li>
        <li>I would come to this site to do practice drills, work on solving a particular problem</li>
        <li>I want to discover something new about Ruby</li>
        <li>I want to be a Rubyist (learn the "Ruby Way")</li>
        <li>I'm seeking guidance / direction and encouragement</li>
        <li>I have some troubleshooting techniques</li>
      </ul>

    </div>
    <div class="col-xs-6 right outline top-padding">
      <%= image_tag("2-cats.jpg", class: "large-illustration") %>
    </div>
  </div>
</div>

